/* Style Layout */
/* #content {
} */



/* Style Form */
#form > input {
     border: 2px solid #ccc;
     border-radius: 4px;
     background-color: #f8f8f8;
}

#post-content {
     width: 50%;
     height: 125px;
}

#post-title {
     align-items: center;
     width: 50%;
     height: 40px;
}

#submitbut {
     margin-top: 5px
}

/* Style Navbar */
.navbar {
     border-radius: 2px;
     border-bottom: 2px solid #ccc;
}

.cpost-div {
     padding-right:30px;
}

#cpost {
     border: 2px solid #ccc;
     border-radius: 4px;
     background-color: #f8f8f8;
     color: rgb(78, 78, 78);
     padding-left: 2px;
     padding-right: 2px;
     
}

#cpost:hover {
     color: black;
     text-decoration: none;
     
}

.userid-div {
     padding-right: 30px;
}

#userid {
     color: rgb(78, 78, 78);
     cursor: default; 
}

.navbar-brand {
     color: rgb(78, 78, 78);
     text-decoration: none;
}

.navbar-brand:hover{
     color: black;
     
}

.loginbut {
     color: rgb(78, 78, 78);
}

.loginbut:hover {
     color: black;
     text-decoration: none;
}

/* Style Posts */
/* .posts {
     border: 2px solid black;
     border-radius: 5px;
}

.u-icons {
     border-radius: 50%;
     border: 1px solid rgb(88, 88, 88);
     min-width: 40px;
     max-width: 3vw;
     height: auto;
}

.u-name {
     float:right;
}

.u-title {
     text-align: center;
} */
.card {
     box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
 }
 
 .card {
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 0 solid rgba(0,0,0,.125);
     border-radius: .25rem;
 }
 
 .card-body {
     flex: 1 1 auto;
     min-height: 1px;
     padding: 1rem;
 }
/* Style Threaded Posts */
.tposts {
     border: 2px solid black;
     border-radius: 5px;
}

.tu-icons {
     border-radius: 50%;
     border: 1px solid rgb(88, 88, 88);
     min-width: 40px;
     max-width: 3vw;
     height: auto;
}

/* .tu-name {
}

.tu-title {
} */
/* Style Reply Button */
.reply {
     display: inline-block;
     color: rgb(78, 78, 78);
}

.reply:hover {
     color: black;
     cursor: pointer;
     text-decoration: none;

}

.reply-icon {
     height: auto;
     min-width: 25px;
     max-width: 2vw;
}

.reply-text {
     display: inline-block;
}

.p_username {
     color: rgb(0, 100, 250);
}

.delete {
     color: rgb(255, 0, 0);
     position: absolute;
     right: 25px;
     display:inline-block;
   }