/* Style Layout */
/* #content {
} */

/* Style Form */
#form {
     margin-top: 40px;
     text-align: center;
}

#post-title {
     border: 2px solid #ccc;
     border-radius: 4px;
     background-color: #f8f8f8;
     width: 60%;
     height: 40px;
}

#post-content {
     border: 2px solid #ccc;
     border-radius: 4px;
     background-color: #f8f8f8;
     text-align: left;
     padding-left:0;
     padding-top:0;
     padding-bottom:0.4em;
     padding-right: 0.4em;
     width: 60%;
     height: 250px;
}



#submitbut {
     margin-top: 5px
}

/* Style Navbar */
.navbar {
     border-radius: 2px;
     border-bottom: 2px solid #ccc;
}

.cpost-div {
     padding-right:30px;
}

#cpost {
     border: 2px solid #ccc;
     border-radius: 4px;
     background-color: #f8f8f8;
     color: rgb(78, 78, 78);
     padding-left: 2px;
     padding-right: 2px;
     
}

#cpost:hover {
     color: black;
     text-decoration: none;
     
}

.userid-div {
     padding-right: 30px;
}

#userid {
     color: rgb(78, 78, 78);
     cursor: default; 
}

.navbar-brand {
     color: rgb(78, 78, 78);
     text-decoration: none;
}

.navbar-brand:hover{
     color: black;
     
}

.loginbut {
     color: rgb(78, 78, 78);
}

.loginbut:hover {
     color: black;
     text-decoration: none;
}

/* Style Posts */
.card {
     box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 2px solid rgba(0,0,0,.125);
     border-radius: .25rem;
}
 
.card-body {
     flex: 1 1 auto;
     min-height: 1px;
     padding: 1rem;
}

.media-body {
     overflow: hidden;
}

.delete {
     color: rgb(255, 0, 0);
     position: absolute;
     right: 25px;
     display:inline-block;
     /* remove button styling */
     background: none;
     color: inherit;
     border: none;
     padding: 0;
     font: inherit;
     cursor: pointer;
     outline: inherit; 
}

.u-username {
     /* remove button styling */
     background: none;
     color: inherit;
     border: none;
     padding: 0;
     font: inherit;
     cursor: pointer;
     outline: inherit; 
}

.u-username:hover {
     text-decoration: underline;
}

.u-icon {
     /* remove button styling */
     background: none;
     color: inherit;
     border: none;
     padding: 0;
     font: inherit;
     cursor: pointer;
     outline: inherit; 
}
/* Style Reply Button */
.reply {
     transform: translateY(-4px);
     display: inline-block;
     color: rgb(78, 78, 78);
     /* remove button styling */
     background: none;
     color: inherit;
     border: none;
     padding: 0;
     font: inherit;
     cursor: pointer;
     outline: inherit; 
}

.reply:hover {
     color: black;
     cursor: pointer;
     text-decoration: none;

}

.reply-icon {
     height: auto;
     min-width: 25px;
     max-width: 2vw;
}

.reply-text {
     display: inline-block;
}

/* .reply-field-form {
     display: inline-block;
}

.reply-field {
     width: fit-content;
} */


