{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Check For Login Status Before Post-->
<script>
  {% if logged_in %}
  $(document).ready(function(){
    $('#cpost').click(function(){
      $.get(posts.html)
    });
  });

  {% elif not logged_in %}
  $(document).ready(function(){
    $('#cpost').click(function(){
      alert('Before you can make a post, please log in.')
    });
  });

  {% endif %}
</script>

<h1>Create a Post</h1>
<button id="cpost">Create Post</button>

<div class="posts">
  {{user_posts}}
</div>




{% endblock %}
