<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <!-- Links -->
  <ul class="navbar-nav ml-auto">
    {% if logged_in %}
    <li>
      <a id='userid'>{{ session['user_data']['login']}}</a>
    </li>
    {% endif %}
    <li>
    {% if logged_in %}
      <a href="/logout" class='loginbut'>Logout</a>
    {% else %}
      <a href="/login" class='loginbut'>Login</a>
    {% endif %}
    </li>
  </ul>

</nav>